{
  "swagger": "2.0",
  "info": {
    "version": "2016-08-05T01:18:49Z",
    "title": "fineo-batch"
  },
  "host": "write.fineo.io",
  "title": "fineo-batch",
  "basePath": "/v1",
  "schemes": [
    "https"
  ],
  "paths": {
    "/batch/status/{file}": {
      "get": {
        "tags": [
          "batch"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "file",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/definitions/Empty"
            },
            "headers": {
              "Timestamp": {
                "type": "string"
              },
              "Content-Type": {
                "type": "string"
              }
            }
          },
          "404": {
            "description": "404 response"
          }
        },
        "security": [
          {
            "sigv4": [

            ]
          },
          {
            "api_key": [

            ]
          }
        ],
        "x-amazon-apigateway-integration": {
          "credentials": "arn:aws:iam::766732214526:role/apigateway_batch-get-s3_test",
          "uri": "arn:aws:apigateway:us-east-1:s3:path/batch.fineo.io/ingest/{user}_{file}",
          "passthroughBehavior": "never",
          "responses": {
            "4\\d{2}": {
              "statusCode": "404"
            },
            "default": {
              "statusCode": "200",
              "responseParameters": {
                "method.response.header.Content-Type": "integration.response.header.Content-Type",
                "method.response.header.Timestamp": "integration.response.header.Date"
              }
            }
          },
          "requestParameters": {
            "integration.request.path.user": "context.identity.apiKey",
            "integration.request.path.file": "method.request.path.file"
          },
          "httpMethod": "HEAD",
          "type": "aws"
        }
      }
    },
    "/batch/upload/data/{file}": {
      "put": {
        "tags": [
          "batch"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string"
          },
          {
            "name": "file",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "BatchUploadEvents",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BatchUploadEvents"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/definitions/Empty"
            }
          },
          "400": {
            "description": "400 response",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "sigv4": [

            ]
          },
          {
            "api_key": [

            ]
          }
        ],
        "x-amazon-apigateway-integration": {
          "credentials": "arn:aws:iam::766732214526:role/apigateway_batch-upload-data_test",
          "uri": "arn:aws:apigateway:us-east-1:s3:path/test-1_batch.fineo.io/ingest/{user}_{file}",
          "passthroughBehavior": "when_no_match",
          "responses": {
            "default": {
              "statusCode": "200",
              "responseTemplates": {
                "application/json": "#set($inputRoot = $input.path('$'))\n{ }"
              }
            },
            "4\\d{2}": {
              "statusCode": "400"
            }
          },
          "requestParameters": {
            "integration.request.path.user": "context.identity.apiKey",
            "integration.request.path.file": "method.request.path.file",
            "integration.request.header.Content-Type": "method.request.header.Content-Type"
          },
          "httpMethod": "PUT",
          "type": "aws"
        }
      }
    },
    "/batch/upload/file": {
      "post": {
        "tags": [
          "batch"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "BatchUploadRemoteS3File",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BatchUploadRemoteS3File"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "schema": {
              "$ref": "#/definitions/Empty"
            }
          },
          "400": {
            "description": "400 response",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "sigv4": [

            ]
          },
          {
            "api_key": [

            ]
          }
        ],
        "x-amazon-apigateway-integration": {
          "credentials": "arn:aws:iam::766732214526:role/apigateway_batch-upload-file_test",
          "requestTemplates": {
            "application/json": "{ }"
          },
          "uri": "arn:aws:apigateway:us-east-1:sns:action/Publish",
          "passthroughBehavior": "never",
          "responses": {
            "default": {
              "statusCode": "200",
              "responseTemplates": {
                "application/json": "#set($inputRoot = $input.path('$'))\n{ }"
              }
            },
            "4\\d{2}": {
              "statusCode": "400"
            }
          },
          "requestParameters": {
            "integration.request.querystring.TopicArn": "'arn:aws:sns:us-east-1:766732214526:test-1_batch-ingest-files_remote-s3'",
            "integration.request.querystring.Subject": "context.identity.apiKey",
            "integration.request.querystring.Message": "method.request.body.FilePath"
          },
          "httpMethod": "POST",
          "type": "aws"
        }
      }
    }
  },
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "name": "x-api-key",
      "in": "header"
    },
    "sigv4": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header",
      "x-amazon-apigateway-authtype": "awsSigv4"
    }
  },
  "definitions": {
    "Empty": {
      "type": "object"
    },
    "Error": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "request-id": {
          "type": "string"
        }
      }
    },
    "SingleStreamEvent": {
      "type": "object",
      "required": [
        "metrictype",
        "timestamp"
      ],
      "properties": {
        "timestamp": {
          "type": "number",
          "minimum": 31536000000
        },
        "metrictype": {
          "type": "string"
        },
        "additionalProperties": {
          "type": "object",
          "properties": {
          }
        }
      },
      "description": "Single event at a timestamp. Max size: 1MB"
    },
    "BatchUploadEvents": {
      "type": "array",
      "description": "JSON blob of multiple event to batch upload. Max size: 10MB",
      "items": {
        "$ref": "#/definitions/SingleStreamEvent"
      }
    },
    "BatchUploadRemoteS3File": {
      "type": "object",
      "description": "Remote S3 file to batch read. Format: s3://<bucket>/<file key>",
      "properties": {
        "FilePath": {
          "type": "string"
        }
      }
    }
  }
}